#macro(axioms)
#foreach($ann in $ontology.getAxioms())
       <tr>
            #if($ann.getValue())
            <td>$esc.getText("${ann.getValue()}")</td> 
            #end
        </tr>
#end
#end
#set($ontName = $ontology.getOntologyID().getOntologyIRI().get().getFragment() )

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
    </style>
</head>
<body>

    <h1>${ontology.getOntologyID().getOntologyIRI().get().getFragment()}</h1>
    <h2>List of axioms for this ontology</h2>
    <p>The following list details all the axioms for the ${ontName} ontology</p>
    <table>
        <tr>
            <th>Axioms</th>
        </tr>
#axioms()
    </table>
    
</body>
</html>