#parse("NamedIndividual.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <h1>${class.getIRI().getFragment()}</h1>
    <h2>In the following list you can see al related elements to this class, like instances, properties,etc.</h2>
    <p>Class NamedIndividuals count: #individuals_count_for_class($class)</p>
    <p>class DataProperty cunt: 0</p>
    <p>class ObjectProperty count: 0</p>
    <a href="./NamedIndividual/NamedIndividual.html">click to see details of each NamedIndividual related to this class</a><br>
    <a href="./DataProperty/DataProperty.html">click to see details of each DataProperties related to this class</a><br>
    <a href="./ObjectProperty/ObjectProperty.html">click to see details of each objectProperties related to this class</a><br>
    
</body>
</html>