
## listar todas las ontologias con sus respectivas anotaciones
#macro(clases $dec)
#foreach($o in $dec)
<p>$esc.getText("${o}")  <a href="./dataProperty.html">Data properties</a>  <a href="./objectProperty.html#$esc.getText("${o.getSignature().iterator().next()}")">Object properties</a></p>
#end
#end
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<script type="text/javascript" src="./js/script.js"></script>
<h1>CLASES</h1>
#clases($declarations)    
</body>
</html>