#macro(individuals $r)


    #if($r.isOWLClass())
    #foreach ( $element in $EntitySearcher.getInstances($r, $ontology) )
        <tr>
            <td>${element.getIRI().getFragment()}</a></td>
            <td>$esc.getText("${element.getIRI().getFragment()}")</td>
        </tr>  
    #end
    #end

   
#end


#macro(dataprops)
sdfsf
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>
    <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
    </style>
</head>
<body>
    <h1>Class Details: ${class.getIRI().getFragment()}</h1>
    
           <h2>individuals</h2>
        <table>
        <tr>
            <th>individuals</th>
            <th>individuals IRI</th>
        </tr>
    #individuals($class)
    </table>
    #dataprops()
</body>
</html>