#set($dtprops = $ontology.getAxioms($AxiomType.DATA_PROPERTY_DOMAIN))
## listar todas las ontologias con sus respectivas anotaciones

#macro(dataprops $dec)

#foreach($o in $dec)
#if($o.getSignature().iterator().next().isOWLClass()) 
#set($classname = $o.getSignature().iterator().next().getClassesInSignature().iterator().next())
#foreach($t in $dtprops)

#if($t.containsEntityInSignature($classname))
<a href="$esc.getText("${classname}")"></a><br>
$esc.getText("${t}")
#end
#end

#end
#end
#end
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<script type="text/javascript" src="./js/script.js"></script>
<h1>DATA_PROPERTY_DOMAIN</h1>
#dataprops($declarations)    
</body>
</html>