#set( $ontName = $ontology.getOntologyID().getOntologyIRI().get().getFragment() )

## listar todas las ontologias con sus respectivas anotaciones
#macro(internalClass)
#foreach($o in $ontology.getClassesInSignature())
<a href="./classes/${o.getIRI().getFragment()}/${o.getIRI().getFragment()}.html">${o.getIRI().getFragment()}</a><br>
#end
#end


## listar todas las ontologias con sus respectivas anotaciones
#macro(axiomas)
#foreach($o in $ont.getAxioms())
<p>$esc.getText("${o}")</p>
#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<script type="text/javascript" src="./js/script.js"></script>
    <h1>${ontology.getOntologyID().getOntologyIRI().get().getFragment()}</h1>
    <h2>List of class for this ontology</h2>
    <p>The following list details all the classes contained in the current ontology. By clicking on the name of the class, you can see all the elements related to the class.</p>
    #internalClass()
</body>
</html>