#macro(ontologies)
## using $project.getOntogies2Bprocessed()  can acces a compelte list of ontologies
#foreach($o in $project.getOntologies2BProcesed())
#set($ontName = $o.getOntologyID().getOntologyIRI().get().getFragment() )
<a href="./ontology/${ontName}/${ontName}.html">${ontName}</a><br>
#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>

</head>
<body>
<script type="text/javascript" src="./js/script.js"></script>
<h1>List of Ontologies loaded recursively from main ontologies</h1>
#ontologies()    
</body>
</html>