#set($axioms = $ontology.getAxioms())
#set($props_axioms =$ontology.getAxioms($AxiomType.DATA_PROPERTY_DOMAIN))

#macro(individuals)
    #foreach ( $element in $EntitySearcher.getInstances($class, $ontology) )
        <tr>
            <td>${element.getIRI().getFragment()}</a></td>
            <td>$esc.getText("${element.getIRI().getFragment()}")</td>
        </tr>  
    #end 
#end



#macro(dataprops)

    #foreach ( $item in $ontology.getAxioms($AxiomType.DATA_PROPERTY_RANGE) )
        <tr>
            <td>${item.getIRI().getFragment()}</a></td>
            <td>$esc.getText("${item.getIRI()}")</td>
            <td>$esc.getText("${item.getRange()}")</td>
        </tr>  
    #end     	
#end


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>
    <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
    </style>
</head>
<body>
    <h1>Class Details: ${class.getIRI().getFragment()}</h1>
    
           <h2>individuals</h2>
        <table>
        <tr>
            <th>individuals</th>
            <th>individuals IRI</th>
        </tr>
    #individuals()
    </table>
    
   <h2>DataProperties</h2>
           <table>
        <tr>
            <th>Property</th>
            <th>Property IRI</th>
            <th>Property range</th>
        </tr>
    #dataprops()
       	    </table>
   
	
</body>
</html>