#set($axioms = ${ontology.getAxioms()})
#macro(superclasses $class)
<h1>SuperClasses</h1>
    <table>
        <tr>
            <th>SuperClass name</th>
            <th>SuperClass IRI</th>
        </tr>
#foreach ($element in $ontology.getAxioms($AxiomType.DECLARATION))
		#if(${element.getSignature().iterator().next().isOWLClass()}) 
				#set($cls = ${element.getSignature().iterator().next().asOWLClass()})
				#foreach($iterable in ${EntitySearcher.getSuperClasses($cls, $ontology)})
                
                    #if(${iterable.isClassExpressionLiteral()})
                    <tr>
                        <td><a href="./classes/${iterable.getSignature().iterator().next().getIRI().getFragment()}.html">${iterable.getSignature().iterator().next().getIRI().getFragment()}</a><br></td>
                        <td>$esc.getText("${iterable.getSignature().iterator().next().getIRI()}")</td>
                    </tr>
                    #end
				#end
               
			#end
		#end
    </table>   
    #*
    		for (OWLDeclarationAxiom iterable_element : this.ontology.getAxioms(AxiomType.DECLARATION)) {
			if(iterable_element.getSignature().iterator().next().isOWLClass()) {
				OWLClass cls =iterable_element.getSignature().iterator().next().asOWLClass();
				for (OWLClassExpression iterable: EntitySearcher.getSuperClasses(cls, ontology)) {
					if(iterable.isClassExpressionLiteral()) {
						System.out.println(iterable.getSignature().iterator().next().getIRI().getFragment());	
					}
					
				}
			}
		}
    *#
#end
#macro(supercls $OWLclass)
#set( $superClasses = "${reasoner.getReasoner().getSuperClasses($OWLclass, true).getNodes()}")
#if (${superClasses.size()} >= 1)
	#foreach( $supercls in $superClasses)
		#if (${ontology.containsClassInSignature($supercls.getIRI())}) 
			$supercls
		#end
	#end
#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>
    <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
    </style>
</head>
<body>
    <h1>Details for class  ${class.getIRI().getFragment()}</h1>
    #supercls($class)

</body>
</html>