#macro(DataProperties $cls)
#foreach($axiom in $ontology.getAxioms() )
#if( ${axiom.isOfType($AxiomType.DECLARATION)} && ${axiom.getSignature().iterator().next().isOWLClass()} )
#foreach($ax : $ontology.getAxioms($AxiomType.DATA_PROPERTY_RANGE))
#if($ax.getDomain().asOWLClass().equals($cls))
${cls.getIRI().getFragment()}
#end
#end
#end
#end
#end

				for () {
					if(owlDataPropertyDomainAxiom.getDomain().asOWLClass().equals(cls)) {
						System.out.println("clase "+cls.getIRI().getFragment());
						System.out.println("prop name: "+owlDataPropertyDomainAxiom.getProperty().asOWLDataProperty().getIRI());
						for (OWLDataPropertyRangeAxiom owlDataPropertyRangeAxiom : rng) {
								System.out.println("range of prop "+owlDataPropertyRangeAxiom.getRange());
						}
						
					}
					
				}