#set( $ontName = $ontology.getOntologyID().getOntologyIRI().get().getFragment() )
#set($declaration_axioms = $ontology.getAxioms($AxiomType.DECLARATION))

##
## Table for classes
##
#macro(internalClass)
 <h2>List of class for this ontology</h2>
    <p>The following list details all the classes contained in the current ontology. By clicking on the name of the class, you can see all the elements related to the class.</p>
    <table>
        <tr>
            <th>ClassName</th>
            <th>ClasIRI</th>
        </tr>
    #foreach($o in $ontology.getClassesInSignature())
        <tr>
            <td><a href="./classes/${o.getIRI().getFragment()}.html">${o.getIRI().getFragment()}</a><br></td>
            <td>$esc.getText("${o.getIRI()}")</td>
        </tr>
	#end
   </table>
#end
##
## Table for individuals
##
#macro(individuals)

    <h2>List of NamedIndividuals for this ontology</h2>

    <table>
        <tr>
            <th>individual</th>
            <th>individual IRI</th>
        </tr>
    		#foreach ($declaration in $declaration_axioms) 
    		#if($declaration.getIndividualsInSignature())
		        #foreach($r in $declaration.getIndividualsInSignature())
		            <tr>
		                <td><a href="./individuals/${r.getIRI().getFragment()}.html">${r.getIRI().getFragment()}</a><br></td>
		                <td>$esc.getText("$r.getIRI()")</td>
		            </tr>			    
		        #end
		    #end    
		#end
    </table>



#end
##
## Table for Data Properties
##
#macro(dataprops)
    <h2>List of Data Properties for this ontology</h2>
    #if( ${declaration_axioms.getDataPropertiesInSignature().isEmpty()} )
        <h1>This ontology hasn't any  DataProperty</h1>
    #else
        <table>
            <tr>
                <th>DataProperty</th>
                <th>DataProperty IRI</th>
            </tr>
                #foreach ($declaration in $declaration_axioms) 
                    #foreach($r in $declaration.getDataPropertiesInSignature())
                    <tr>
                        <td>$esc.getText("$r.getIRI().getFragment()")</td>
                        <td>$esc.getText("$r.getIRI()")</td>
                    </tr>			    
                #end
            #end
        </table>
    #end
    

#end
##
## Table for Object Properties
##
#macro(objprops)

    #if(!${$declaration_axioms.isEmpty()})

        <h2>List of Object Properties for this ontology</h2>

        <table>
            <tr>
                <th>ObjectProperty</th>
                <th>ObjectProperty IRI</th>
            </tr>
            #foreach ($declaration in $declaration_axioms) 
                #foreach($r in $declaration.getObjectPropertiesInSignature())
                    <tr>
                    
                        <td><a href="./ObjectProperty/${r.getIRI().getFragment()}.html">${r.getIRI().getFragment()}</td>
                        <td>$esc.getText("$r.getIRI()")</td>
                    </tr>			    
                #end
            #end
    </table>

    #end

#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
    </style>
</head>
<body>

    <h1>${ontology.getOntologyID().getOntologyIRI().get().getFragment()}</h1>
   
    #internalClass()

    #individuals()   
    
    #dataprops()

    #objprops()
    
</body>
</html>