#parse("/common/DataProperty.vm")
#parse("/common/ObjectProperty.vm")
#parse("/common/NamedIndividuals.vm")
#parse("/common/Class.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
    </style>
</head>
<body>

    <h1>${ontology.getOntologyID().getOntologyIRI().get().getFragment()}</h1>
   <h2>List of class for this ontology</h2>
    <p>The following list details all the classes contained in the current ontology. By clicking on the name of the class, you can see all the elements related to the class.</p>
    #Class_table($ontology)
    
    <h2>List of NamedIndividuals for this Ontology</h2>

    #NamedIndividuals_table($ontology)   
   
    <h2>List of Data Properties for this ontology</h2>

    #DataProperty_table($ontology)

    <h2>List of Object Properties for this ontology</h2>

    #ObjectProperty_table($ontology)
    
</body>
</html>