#macro(ontologies)
## using $project.getOntogies2Bprocessed()  can acces a compelte list of ontologies

#foreach($o in $project.getOntologies2BProcesed())
#set($ontName = $o.getOntologyID().getOntologyIRI().get().getFragment() )
        <tr>
            <td><a href="./${ontName}/${ontName}.html">${ontName}</a></td>
            <td> ${o.getOntologyID().getOntologyIRI().get()}</a></td>
            <td>#foreach($ann in $o.getAnnotations()) #if($ann.getValue()) $ann.getValue() #end #end</a></td>
        </tr>
#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeGenerator tool Tutorial</title>
<style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
    </style>
</head>
<body>

<h1>List of Ontologies loaded recursively from main ontologies</h1>
<table>
        <tr>
            <th>Ontology Name</th>
            <th>Ontology IRI</th>
            <th>Annotations</th>
        </tr>
#ontologies()        
</table>
<h1>Variables given into XML file</h1>
<p>variable name: $targetOperatingSystem variable value:$targetOperatingSystem.getValue() </p>
<p>variable name: $date_expire variable value: $date_expire.getValue()</p>
<p>Variable name:$timezone -- variable value: $timezone.getValue()</p>
<p>$packageName: $packageName.getValue()</p>
</body>
</html>