
## listar todas las ontologias con sus respectivas anotaciones
#macro(ontologias $ont)
#foreach($o in $ont.getImportsClosure())
#set($ontName = $o.getOntologyID().getOntologyIRI().get().getFragment())
<h1><a href="./${ontName}/index.html">${ontName}</a></body></h1>
#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<script type="text/javascript" src="./js/script.js"></script>
<h1>LISTA DE ONTOLOGIAS</h1>
#ontologias($ontology)    
</body>
</html>