#set($axioms = $ontology.getAxioms())
#set($props_axioms =$ontology.getAxioms($AxiomType.DATA_PROPERTY_DOMAIN))
#macro(range $prop)
#foreach($k in $ontology.getAxioms($AxiomType.DATA_PROPERTY_RANGE))
#if($k.getProperty().asOWLDataProperty().equals($prop))
$k.getRange()
#end
#end
#end

#macro(datatypes $class)
#foreach($data in $props_axioms)
#if($data.getDomain().asOWLClass().equals($class))
"${class.getIRI().getFragment()}:${data.getProperty().asOWLDataProperty().getIRI().getFragment()}":{
	"@type":"#range($data.getProperty().asOWLDataProperty())"
},
#end
#end
#end

#macro(class)
#foreach($c in $axioms)
#if( $c.isOfType($AxiomType.DECLARATION) and $c.getSignature().iterator().next().isOWLClass() )
"${c.getSignature().iterator().next().asOWLClass().getIRI().getFragment()}" : "${c.getSignature().iterator().next().asOWLClass().getIRI()}",
#datatypes($c.getSignature().iterator().next().asOWLClass())
#end
#end
#end
{
  "@context": {
  "data":"http://brain_games.activage.lst.tfo.upm.es#data",
	#class()
  }
}