#set($objProps = $ontologies.getAxioms($AxiomType.OBJECT_PROPERTY_DOMAIN))

#macro(objprops)
#foreach($o in $dec)
#if($o.getSignature().iterator().next().isOWLClass()) 
#set($classname = $o.getSignature().iterator().next().getClassesInSignature().iterator().next())
#foreach($t in $objProps)
        <tr>
            <td>${t.getIRI().getFragment()}</a></td>
            <td>$esc.getText("${element.getIRI()}")</td>
        </tr> 
  
#end
#end
#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
    </style>
</head>
<body>
<script type="text/javascript" src="./js/script.js"></script>
<h1>Object Properties</h1>

        <table>
        <tr>
            <th>Propertie</th>
            <th>propertie IRI</th>
        </tr>
   #objprops() 
    </table>

</body>
</html>