##listar las anotaciones de cada ontologia
#macro(axiomas $ontology)
#foreach($anotation in $ontology.getAxioms())
	#if($anotation.isOfType($AxiomType.ANNOTATION_ASSERTION))
	<p>$esc.getText("${anotation}")</p>	
	#end
#end
#end

## listar todas las ontologias con sus respectivas anotaciones
#macro(ontologias $ont)
#foreach($o in $ont.getImportsClosure())
<h2>$esc.getText(${o.getOntologyID().getOntologyIRI().get().getFragment()})</h2>
##<p>Click to see all annotations in this otology</p>
<button class="collapsible">Click to see all annotations in this otology</button>
<div class="content">
  #axiomas($o)
</div>

#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<script type="text/javascript" src="./js/script.js"></script>
<h1>LISTA DE ONTOLOGIAS</h1>
#ontologias($ontology)    
</body>
</html>