##acceso a nivel3: ejemplo data y object prop
#macro(axiomas )
#foreach($ax in $ontology.getAxioms() )
<p>$ax</p>
#end
#end

#macro(anotaciones)
#foreach($r in $ontology.getAxioms($AxiomType.ANNOTATION_ASSERTION))
$r
#end
#end


##acceso a objectProps
#macro(objectProps $obj) ##debera recibir la clase para obtener sus object properties
<div class ="content">
#foreach($item in $obj)
<p>objectprop</p>
#end
</div>
#end

#macro(instancias)
#foreach($t in $ontology.getIndividualsInSignature())
<p>$esc.html($t)</p>

#end
#end

##acceso a dataProps
#macro(dataProps $data)
<div class ="content">
#foreach($item in $data)
<p>dataprop</p>
#end
</div>

#end
##acceso a nombre de clases
#macro(generateClases $classlist)
#foreach($class in $classlist)
<button class="collapsible secondlevel"> ${class.getIRI().getFragment()} </button>
<div class ="content">#dataProps($class)</div>
<div class ="content">#objectProps($class)</div>
#end
#end

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    
        .collapsible {
          background-color:rgb(79, 78, 78);;
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
        }
        .secondlevel {
            background-color: rgba(247, 15, 15,0.7);
  
        }
        .thirdlevel {
            background-color: rgba(247, 15, 15,0.5);
  
        }
        .fourthlevel {
            background-color: rgba(247, 15, 15,0.3);
  
        }
        .active, .collapsible:hover {
          background-color: #555;
        }
        
        .content {
          padding: 0 18px;
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
        }
        </style>
</head>
<body>
    ##lista de axiomas
<button class="collapsible">AXIOMAS</button>
<div class ="content">#axiomas()</div>
##lista de clases-compuesta
<button class="collapsible">CLASES</button>

<div class ="content">
#generateClases( $ontology.getClassesInSignature())
</div>
##lista de instancias
<button class="collapsible">INSTANCIAS</button>
<div class ="content">#instancias()</div>
##lista de anotaciones 
<button class="collapsible">ANOTACIONES</button>
<div class ="content">#anotaciones()</div>
<div></div> 

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>
</body>
</html>


