#set($examplevar = "example")

Testing the if statement: 

result:
#if($examplevar == "example")
	the variable's value match? true
#end

Testing the if-else statement:

result:

#if($examplevar == "someTestText")
	the variable's value match
#else
	the variable's value don't match
#end


