#import("macroTest.vm")##
#import("ifStatementTemplate.vm")##

using he imported templates 

#BasicMacro()
#SimpleMacro($exampleVariable)
#SimpleMacroMultipmeParameters( $exampleVariable $testVariable $velocityExample)
